
@{
    Layout = "_Layout2";
}
@{
    ViewData["Title"] = "List Candidates";
}

<style>
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        position: relative;
        width: 80%;
        margin: 40px auto;
    }

        h1::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: rgb(112, 97, 78);
            top: 100%;
        }

    .container1 {
        width: 90%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 30px;
        row-gap: 20px;
    }

    .box {
        width: 300px;
        height: 350px;
        box-sizing: border-box;
        border: solid 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .btn-vote {
        display: flex;
        width: 290px;
        position: absolute;
        top: 85%;
    }

    button {
        width: 150px;
        margin: 2px;
    }

    .img {
        margin: 2px;
        position: absolute;
    }

    img {
        width: 180px;
        height: 155px;
    }

    .info {
        top: 80%;
        position: absolute;
    }
</style>

<html>

<h1>Candidates</h1>

<div id="candidatesContainer" class="container1">

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Load candidates from the API
            function loadCandidates() {
                $.ajax({
                    url: 'https://localhost:7065/Candidates/GetCandidates',
                    type: 'GET',
                    success: function (data) {
                        if (data.length === 0) {
                            $('#candidatesContainer').html('<p>No candidates found</p>');
                            return;
                        }

                        let candidateCards = '';
                        $.each(data, function (index, candidate) {
                            candidateCards += `
                                        <div class="box">
                                            <div class="img">
                                                <img src="~/img/img1.png" alt="Candidate Image" />
                                                <hr/>
                                                <p>${candidate.fullName}</p>
                                                <p>${candidate.party}</p>
                                                <p>${candidate.position}</p>
                                            </div>
                                                 <div class="btn-vote">
                                                 <button class="btn btn-success vote-button" data-candidate-id="${candidate.candidateId}" type="button">Vote</button>
                                                 <a href="/Candidates/Edit/${candidate.candidateId}" class="btn btn-warning">Edit</a>
                                                 </div>
                                         
                                            </div>`;
                        });

                        $('#candidatesContainer').html(candidateCards);
                    },
                    error: function (error) {
                        console.error('Error fetching candidates:', error);
                        alert('Failed to load candidates. Please try again later.');
                    }
                });
            }
            loadCandidates();
        });


        $(document).on('click', '.vote-button', function () {
            const candidateId = $(this).data('candidate-id');
            const userId = localStorage.getItem('userId');

            if (!userId) {
                alert("Debes iniciar sesión para votar.");
                return;
            }

            const voteData = {
                candidateId: candidateId,
                userId: userId
            };

            $.ajax({
                url: 'https://localhost:7065/Votes/SubmitVote',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(voteData),
                success: function (response) {
                    alert(response);
                    window.location.href = 'https://localhost:7057/Votes/ListVotes1';
                },
                error: function (error) {
                    alert("Error al votar: " + error.responseText);
                }
            });
        });
    </script>
}



@*

<div class="btn-vote">
                                                <form action="https:localhost:7057/Votes/ListVotes" method="post">
                                                    <input type="hidden" name="candidateId" value="${candidate.candidateId}" />
                                                    <button class="btn btn-success" type="submit">Vote</button>
                                                </form>
                                                <a href="/Candidates/Edit/${candidate.candidateId}" class="btn btn-warning">Edit</a>
                                            </div>
*@
@*

<style>
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        position: relative;
        width: 80%;
        margin: 40px auto;
    }

    h1::before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        background-color: rgb(112, 97, 78);
        top: 100%;
    }

    .container1 {
        width: 90%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
        column-gap: 30px;
        row-gap: 20px;
    }

    .box {
        width: 300px;
        height: 350px;
        box-sizing: border-box;
        border: solid 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items:center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position:relative;
    }

    .btn-vote{
        display: flex;
        width: 290px;
        position: absolute;
        top: 85%;
    }

   
    button {
        width: 150px;
        margin: 2px;
    }
    .img{
        margin:2px;
        position: absolute;
    }

    img{
        width:180px;
        height: 155px;
    }

    .info{
        top:80%;
        position:absolute;
    }
</style>

<html>


</html>
<h1>Candidates</h1>

@if (!Model.Any())
{
    <tr>
        <td colspan="4">No se encontraron registros</td>
    </tr>
}
else
{
    <div class="container1">
    @foreach (var candidate in Model)
    {

        <div class="box">

            <div class="img">
                <img src="~/img/img1.png" alt="Alternate Text" />
                <hr/>
                    <p>@candidate.FullName</p>
                    <p>@candidate.Party</p>
                    <p>@candidate.Position</p>
            </div>
            <div class="btn-vote">
                <form asp-controller="Votes" asp-action="Vote" method="post">
                    <input type="hidden" name="candidateId" value="@candidate.CandidateId" />
                    <button class="btn btn-success" type="submit">Vote</button>
                 </form>
                    <a asp-controller="Candidates" asp-action="Edit"> Edit </a>
            </div>
        </div>

    }
    </div>


}

@section Scripts{

    <script>

        $(document).ready(function () {
            loadUsers();

            $('#addUserButton').click(function () {
                window.location.href = 'Create';
            });

            $(document).on('click', '.delete-user', function () {
                var userId = $(this).data('id');

                if (confirm('Are you sure you want to delete this person?')) {
                    $.ajax({
                        url: 'https://localhost:7065/Users/DeleteUsers/' + userId,
                        type: 'DELETE',
                        success: function () {
                            alert('User deleted successfully');
                            loadUsers();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-user', function () {
                var userId = $(this).data('id');
                window.location.href = 'https://localhost:7057/Access/Edit/' + userId;
            });
        });
       
        // $('#usersTableBody').html(tableBody);
        function loadUsers() {
            $.ajax({
                url: 'https://localhost:7065/Users/GetUsers',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';

                    if (data.length === 0) {
                        tableBody = '<tr> <td colspan="5">No Records found</td> </tr>';
                    } else {
                        $.each(data, function (index, user) {
                            tableBody += '<tr>' +
                                '<td>' + user.userId + '</td>' +
                                '<td>' + user.fullName + '</td>' +
                                '<td>' + user.dni + '</td>' +
                                '<td>' + user.email + '</td>' +
                                '<td>' +
                                '<a class="btn btn-warning edit-user" data-id="' + user.userId + '">Edit</a>' +
                                ' ' +
                                '<button class="btn btn-danger delete-user" data-id="' + user.userId + '">Delete</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }

                    $('#usersTableBody').html(tableBody);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        };

    </script>
}


*@

 