
@{
    Layout = "_Layout2";
}
@{
    ViewData["Title"] = "List Candidates";
}

<style>
    * {
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        position: relative;
        width: 80%;
        margin: 40px auto;
    }

        h1::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            background-color: rgb(112, 97, 78);
            top: 100%;
        }

    .container1 {
        width: 90%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        column-gap: 30px;
        row-gap: 20px;
    }

    .box {
        width: 300px;
        height: 470px;
        box-sizing: border-box;
        border: solid 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .btn-vote {
        display: flex;
        width: 290px;
        position: absolute;
        top: 90%;
    }

    button {
        width: 150px;
        margin: 2px;
    }

    .img {
        margin: 2px;
        position: absolute;
        top: 3px;
    }

    img {
        width: 220px;
        height: 260px;
        border-radius: 10px;
    }

    .info {
        top: 80%;
        position: absolute;
    }


</style>

<html>

<h1>Candidates for the best series in history.</h1>

<div class="scale-in-center">
    <div id="candidatesContainer" class="container1"> </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            function loadCandidates() {
                $.ajax({
                    url: 'https://localhost:7065/Candidates/GetCandidates',
                    type: 'GET',
                    success: function (data) {
                        if (data.length === 0) {
                            $('#candidatesContainer').html('<p>No candidates found</p>');
                            return;
                        }

                        let candidateCards = '';
                        $.each(data, function (index, candidate) {
                            
                            const candidateImage = candidate.picture && candidate.picture.startsWith('data:image')
                                ? candidate.picture 
                                : '/img/default.png'; 

                            console.log('Candidate Image:', candidateImage);

                            candidateCards += `
                            <div class="box">
                                <div class="img">
                                    <img src="${candidateImage}" alt="Candidate Image" />
                                    <hr/>
                                    <p> <b>Name:</b> ${candidate.fullName}</p>
                                    <p> <b>Category:</b> ${candidate.party}</p>
                                    <p> <b>Author:</b> ${candidate.position}</p>
                                </div>
                                <div class="btn-vote">
                                    <button class="btn btn-success vote-button" data-candidate-id="${candidate.candidateId}" type="button">Vote</button>
                                    <button onclick="window.location.href='/Candidates/Edit/${candidate.candidateId}'" class="btn btn-warning">Edit</button>
                                        </div>
                            </div>`;
                        });

                        $('#candidatesContainer').html(candidateCards);
                    },
                    error: function (error) {
                        console.error('Error fetching candidates:', error);
                        alert('Failed to load candidates. Please try again later.');
                    }
                });
            }
            loadCandidates();
        });


        $(document).on('click', '.vote-button', function () {
            const candidateId = $(this).data('candidate-id');
            const userId = localStorage.getItem('userId');

            if (!userId) {
                alert("Debes iniciar sesión para votar.");
                return;
            }

            const voteData = {
                candidateId: candidateId,
                userId: userId
            };

            $.ajax({
                url: 'https://localhost:7065/Votes/SubmitVote',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(voteData),
                success: function (response) {
                    alert(response);
                    window.location.href = 'https://localhost:7057/Votes/ListVotes';
                },
                error: function (error) {
                    alert("Error al votar: " + error.responseText);
                }
            });
        });
    </script>
}

