@{

    Layout = "_Layout" ;
}


<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <div class="row mt-5 justify-content-center">
            <div class="col-sm-4">
                <div class="card">

                    <div class="card-header">
                        <h2> Register </h2>
                    </div>

                    <div class="card-body">

                        <form id="registerForm">
                            <input class="form-control mb-3" placeholder="Email" required type="email" id="email" />
                            <input class="form-control mb-3" placeholder="Complete Name" required type="text" id="fullname" />
                            <input class="form-control mb-3" type="password" placeholder="Password" required id="password" />
                            <input class="form-control mb-3" type="number" placeholder="Identity Document." required id="dni" />
                            
                            <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit"> Create</button>
                            </div>
                        </form>


                    <h6> Do you already have an account?<a asp-controller="Access" asp-action="Login"> Login </a> </h6>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>

@section Scripts{

    <script> 
             $(document).ready(function() {
                $('#registerForm').submit(function (e) {
                    e.preventDefault();

                     var newUser = {
                         FullName: $('#fullname').val(),
                         Email: $('#email').val(),
                         Password: $('#password').val(),
                         DNI: $('#dni').val(),
                     };
                     $.ajax({
                         url: 'https://localhost:7065/Users/AddUser',
                         type: 'POST',
                         contentType: 'application/json',
                         data: JSON.stringify(newUser),
                         success: function(data) {
                         alert('Person added successfully with ID: ' + data.userId);
                        window.location.href = '/Access/Login';
                         },
                        error: function (xhr, status, error) {
                            console.error('Error:', xhr.responseText || error);
                            alert('Failed to register user. Please try again.');
                         // error: function(error) {
                         //     console.log('Error:', error);
                         }
                     });
                 });
             });
    </script>

}
