@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout2";
}

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome, <span id="userName">User</span>!</h1>
        <h3>to our voting system VotLine.</h3>

        <span class="span1">
            <span class="texi">Your vote, your voice, just a click away.!</span>
        <hr />
        </span>

        <div class="logo-index">
            <img src="~/img/VotLine-Logo.jpg" alt="Logo-VotLine" />
        </div>

    </div>

</body>


@section Scripts {
    <script>
        $(document).ready(function () {
            const userId = localStorage.getItem('userId');

            if (!userId) {
                $('#userName').text('Guest'); 
                return;
            }

            $.ajax({
                url: `https://localhost:7065/Users/GetUser/${userId}`,
                type: 'GET',
                success: function (data) {
                    if (data && data.fullName) {
                        $('#userName').text(data.fullName);
                    } else {
                        $('#userName').text('Guest');
                    }
                },
                error: function (error) {
                    console.error('Error fetching user data:', error);
                    $('#userName').text('Guest'); 
                }
            });
        });
    </script>
}